.Match{
    display:flex;
    flex-direction: row;
    background: rgb(153, 153, 255);
    min-height: 83.5vh;
}
.MovieContainer{
    margin-bottom: 10px;
    margin-top:10px;
    padding: 20px;
    display:grid;
    grid-column: 1fr;
    grid-template-rows: 3fr 1fr;
    border: solid black 3px;
}
#MovieImage{
    grid-row: 1;
    height:200px;
    width:150px;
}
#MovieTitle{
    grid-row: 2;
    margin-top:10px;
    width:150px;
    color:red;
}
#list{
    display:flex;
    max-height: 83.5vh;
    overflow:auto;
    flex-direction: row;
    background: rgb(153, 153, 255);
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
}
.Loader2{
    position:relative;
    align-self: center;
    border:16px solid #f3f3f3;
    border-radius:50%;
    height:100px;
    width:100px;
    border-top:16px solid #772953;
    animation: spin 1s linear infinite;
    background: rgb(153, 153, 255);
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.Error{

}