.Match{
    display:flex;
    height:500px;
    overflow:auto;
    flex-direction: row;
    background: white;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
.MovieContainer{
}
#list{
    align-self: center;
}
.Loader2{
    position:relative;
    left:0px;
    border:16px solid #f3f3f3;
    border-radius:50%;
    height:100px;
    width:100px;
    border-top:16px solid #772953;
    animation: spin 1s linear infinite;
    background: white;
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.Error{

}