.Match{
    display:flex;
    flex-direction: row;
    background: rgb(153, 153, 255);
    min-height: 83.5vh;
}
.MovieContainer{
    margin-bottom: 10px;
    margin-top:10px;
    padding: 20px;
    display:grid;
    grid-column: 1fr;
    grid-template-rows: 3fr 1fr;
    border: solid black 3px;
}
#MovieImage{
    grid-row: 1;
    height:200px;
    width:150px;
}
#MovieTitle{
    grid-row: 2;
    margin-top:10px;
    width:150px;
    color:red;
}
#list{
    display:flex;
    max-height: 83.5vh;
    overflow:auto;
    flex-direction: row;
    background: rgb(153, 153, 255);
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
}
#Loader2{
    align-self: center;
    background: rgb(153, 153, 255);
}

.Error{

}